<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is new routes</title>
</head>
<body>
    <h1>this is the new routes</h1>
    <form action="/listings" method="POST">
        <input type="text" placeholder="please enter the title" name="title">
        <br>
        <input type="number" placeholder="Please enter the your price" name="price">
        <br>
        <textarea name="description" placeholder="Please enter your description"></textarea>
        <br>
        <input type="text" name="location" placeholder="Please enter your location">
        <br>
        <input type="text" name="country" placeholder="Please enter your country">
        <br>
    </form>
</body>
</html>